 .u-section-1 {
  min-height: 949px;
}

.u-section-1 .u-list-1 {
  margin-top: 0;
  margin-bottom: -8px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 957px;
  grid-gap: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/ab755fc1-0a40-4ee7-835a-c8b9fded2ee2.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/f48bb0c5-82b0-4746-8077-8dd247ea555d.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/d29ead03-faf4-4c10-aace-49800cbc11a6.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 560px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 786px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1830px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 21.19%;
  }

  .u-section-1 .u-image-2 {
    background-position: 50% 21.94%;
  }

  .u-section-1 .u-image-3 {
    background-position: 50% 18.36%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 875px;
}

.u-section-2 .u-image-1 {
  width: 589px;
  height: 396px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 28px auto 0;
}

.u-section-2 .u-countdown-1 {
  margin: 15px auto 0;
}

.u-section-2 .u-countdown-item-1 {
  padding: 15px 20px;
}

.u-section-2 .u-countdown-counter-1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-2 .u-countdown-label-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-2 .u-countdown-separator-1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-2 .u-countdown-item-2 {
  padding: 15px 20px;
}

.u-section-2 .u-countdown-counter-2 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-2 .u-countdown-label-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-2 .u-countdown-separator-2 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-2 .u-countdown-item-3 {
  padding: 15px 20px;
}

.u-section-2 .u-countdown-counter-3 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-2 .u-countdown-label-3 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-2 .u-countdown-separator-3 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-2 .u-countdown-item-4 {
  padding: 15px 20px;
}

.u-section-2 .u-countdown-counter-4 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-2 .u-countdown-label-4 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-2 .u-countdown-separator-4 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-2 .u-countdown-item-5 {
  padding: 15px 20px;
}

.u-section-2 .u-countdown-counter-5 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-2 .u-countdown-label-5 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-2 .u-countdown-separator-5 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-2 .u-countdown-item-6 {
  padding: 15px 20px;
}

.u-section-2 .u-countdown-counter-6 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-2 .u-countdown-label-6 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.4;
  margin: 34px auto 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  border-style: none;
  align-self: center;
  font-size: 1rem;
  margin: 43px auto 60px;
  padding: 27px 77px 28px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 363px;
  }

  .u-section-2 .u-countdown-counter-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-separator-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-counter-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-separator-2 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-counter-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-separator-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-counter-4 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-separator-4 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-counter-5 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-separator-5 {
    font-size: 3rem;
  }

  .u-section-2 .u-countdown-counter-6 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 229px;
    margin-top: 38px;
    margin-left: -19px;
  }

  .u-section-2 .u-countdown-1 {
    margin-top: 11px;
    margin-right: -191px;
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 47px;
    margin-left: -41px;
    margin-right: -41px;
    padding: 21px 9px 22px 8px;
  }
}